<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="LogSupport">
    <option name="logConfigurations">
      <ProjectLogConfigurations>
        <option name="defaultLogConfiguration">
          <DefaultLogConfiguration>
            <option name="defaultFrameworkName" value="Intellij-IDEA" />
            <option name="logIdLevels">
              <set>
                <option value="warn" />
                <option value="error" />
              </set>
            </option>
          </DefaultLogConfiguration>
        </option>
      </ProjectLogConfigurations>
    </option>
  </component>
</project>

